mat-form-field {
    width: 90%;
}

#body {
    margin-left: 15px;
}

h3 {
    margin-top: 25px !important;
    margin-bottom: 5px;
}

.space {
    margin-top: 25px !important;
    margin-bottom: 5px;
}

.btnCreate {
    width: 90%;
    float: left;
}

.positionBtn {
    margin-top: 10px;
}