<h1 mat-dialog-title>{{titleType}}</h1>

<div mat-dialog-content>
    <div *ngFor="let item of modalFollow">
        <div class="row">

            <div class="col-3">
                <button class="notStyle" (click)="redirectUser(item.nickname)"> 
                    <img [src]="item.profilePicture" alt="">
                </button>
            </div>

            <div class="col-9 nickname">
                {{item.nickname}}
            </div>

        </div>
    </div>

</div>

<mat-divider></mat-divider>

<div class="col-6">
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="btnClose">Fechar</button>
    </div>
</div>