<div class="container">
    <mat-card class="example-card">

        <div class="row">
            <div class="col">
                <app-title-post [post]="post"></app-title-post>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="row spaceDivider">
            <div class="col-8 centerDescription">
                <app-description-post [post]="post"></app-description-post>
            </div>

            <div class="col-4">
                <app-img-post></app-img-post>
            </div>
        </div>

        <hr>

        <mat-card-content>
            <app-content-post [post]="post"></app-content-post>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions class="custom">
            <!-- <mat-card-title class="tittleComment">Comentários</mat-card-title> -->
            <app-comment [post]="post"></app-comment>
        </mat-card-actions>

        <hr *ngIf="post.comments.length == 0">

        <span class="createdFooter"><i>Post criado em {{post.createdAt | date: 'dd/MM/yyyy'}}</i></span>

    </mat-card>
</div>