mat-card-content {
    margin-top: 40px;
}

.custom.mat-card-actions {
    padding: 0px !important;
    /* margin-left: -5px;
    margin-right: -16px; */
}

.createdFooter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    display: grid;
    justify-content: center;
}

.tittleComment {
    padding-top: 10px;
}

.centerDescription {
    align-self: center;
}

.spaceDivider {
    margin-top: 10px
}

.example-card {
    margin-top: 10px;
    max-width: 750px;
}

.titlePost {
    text-align: center;
}

.likes {
    margin: 10px !important;
}

.container {
    justify-content: center;
    display: grid;
}