<div class="container">
    <mat-card class="example-card">

        <div class="row">
            <div class="col">
                <app-title-post [post]="post"></app-title-post>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="row spaceDivider">
            <div class="col-8 centerDescription">
                <app-description-post [post]="post"></app-description-post>
            </div>

            <div class="col-4">
                <app-img-post></app-img-post>
            </div>
        </div>

        <mat-card-content>
            <app-content-post [post]="post"></app-content-post>
        </mat-card-content>

        <mat-divider *ngIf="post.comments.length > 0"></mat-divider>

        <mat-card-actions *ngIf="post.comments.length > 0" class="custom">
            <h2>Comentários</h2>
            <app-comment *ngIf="post.comments" [comments]="post.comments"></app-comment>
        </mat-card-actions>

        <span class="createdFooter"><i>Post criado em {{post.createdAt | date: 'dd/MM/yyyy'}}</i></span>

    </mat-card>
</div>