<div class="container">
    <mat-card class="example-card">

        <div class="row">
            <div class="col">
                <app-title-post [post]="post"></app-title-post>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="row spaceDivider">
            <div class="col-8 centerDescription">
                <app-description-post [post]="post"></app-description-post>
            </div>

            <div class="col-4">
                <app-img-post></app-img-post>

            </div>
        </div>

        <mat-card-content>
            <app-content-post [post]="post"></app-content-post>
        </mat-card-content>
        <!-- 
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
         -->
    </mat-card>
</div>