h2 {
    text-align-last: center;
}

h3 {
    text-align-last: center;
}

mat-card {
    background-color: #e5e5e500;
}

@media only screen and (max-width: 768px) {
    .firstCel {
        order: 0;
    }
    .secondCel {
        order: 1;
    }
}