<nav class="nav nav-pills nav-justified">

  <a class="imgLo" href="">
    <img src="../../../assets/img/icon/blogWeb.ico" alt="Blog Web">
  </a>


  <app-button-new-post class="btnNewPost"></app-button-new-post>

  <a *ngFor="let itens of categories" class="nav-item nav-link">
    <button class="btn btnLinks" (click)="getPostsByCategory(itens.id)">{{itens.description}}</button>
  </a>

  <div class="d-flex">

    <div *ngIf="logged then editProfile else login"></div>

  </div>

</nav>

<ng-template #login>
  <app-button-login></app-button-login>
</ng-template>

<ng-template #editProfile>
  <app-button-profile></app-button-profile>
</ng-template>