<div class="row">

    <div class="col-12 name">

        <div *ngIf="user.name">
            <b>{{user.name}}</b>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-12 biography">

        <div *ngIf="user.biography">
            {{user.biography}}
        </div>

    </div>

</div>

<div class="row urls">

    <div class="col-4">

        <div *ngIf="user.urlInstagram">
            <a [href]="user.urlInstagram" target="_blank">
                <img src="../../../../assets/img/icon/instagram.png" alt="Instagram">
            </a>
        </div>

    </div>

    <div class="col-4">

        <div *ngIf="user.urlLinkedin">
            <a [href]="user.urlLinkedin" target="_blank">
                <img src="../../../../assets/img/icon/linkedin.png" alt="LinkedIn">
            </a>
        </div>

    </div>

    <div class="col-4">

        <div *ngIf="user.urlWebSite">
            <a [href]="user.urlWebSite" target="_blank">
                <img src="../../../../assets/img/icon/webSite.png" alt="WebSite">
            </a>
        </div>

    </div>

</div>