<div class="row">

    <!-- <div class="col-md-6 col-12 mgBtn" *ngFor="let item of posts"> -->

        <mat-card class="example-card">

            <div class="row">

                <mat-card-title-group>

                    <div class="col-9">
                        <mat-card-title>{{posts.title}}</mat-card-title>

                        <mat-card-subtitle> {{ (posts.description.length>40) ? (posts.description |
                            slice:0:40)+'..':(posts.description) }}</mat-card-subtitle>
                    </div>

                    <div class="col-3">
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    </div>

                </mat-card-title-group>

            </div>


            <div class="row spaceContent">

                <div class="col-12">

                    <div
                        [outerHTML]="(posts.content.length>100)? ( posts.content | slice:0:100) + '...': (posts.content + ' ')">
                    </div>

                    <a href="/post/{{posts.id}}">
                        <span *ngIf="posts.content.length > 100">ver mais</span>
                        <span *ngIf="posts.content.length <= 100">Ver post</span>
                    </a>

                </div>

            </div>

            <div class="col-12 publishedAt">
                Publicado em: {{posts.publishedAt | date: 'dd/MM/yyyy'}}
            </div>

        </mat-card>

    </div>

<!-- </div> -->