img {
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

button {
    all: unset;
    cursor: pointer;
}

mat-card {
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}

mat-card-subtitle {
    font-size: 12px;
}

.publishedAt {
    font-size: 10px;
    text-align-last: right;
    position:sticky; 
    top:100%;
}

.spaceContent {
    margin-top: 10px;
}

.mgBtn {
    margin-bottom: 25px;
}

.link {
    text-decoration: dashed;
}