.border {
    border: solid 1px;
    width: 100%;
    margin-bottom: 10px;
}

.center {
    place-items: center
} 

.comment {
    text-align: start;
}

.date {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}