<div id="haveAccount">

    <div id="spaceInitial">

        <h1>Bem-vindo novamente!</h1>

        <p>Para se manter conectado conosco, faça login com suas informações pessoais</p>

        <mat-card-actions>

            <div class="row">

                <div class="col-12">
                    <a href="/login">
                        <button class="btn btn-outline-light btnLogin">
                            LOGIN
                        </button>
                    </a>
                </div>

            </div>

        </mat-card-actions>

    </div>
</div>