<a class="nav-link notDecor">

    <button class="btn btnLoginLogout" mat-button mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>{{'person'}}</mat-icon>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

            <button mat-menu-item>
                <mat-icon>{{'edit'}}</mat-icon> Editar
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item>
                <mat-icon>{{'logout'}}</mat-icon> Finalizar Sessão
            </button>
        </mat-menu>
    </button>

</a>