.row {
    margin-bottom: 10px;
}

.col-md-6 {
    margin-bottom: 15px;
}

.example-card {
    margin-top: 10px;
    max-width: 750px;
}

.example-margin {
    margin: 0 10px;
}

.published {
    text-align-last: start;
}

.borderInputIsPublished {
    width: 24em;
    border: 1px ridge;
    padding: 11px;
}

.mat-form-field {
    display: grid;
}

.thumbnail {
    margin: 0.25em 0;
}
