mat-form-field {
    margin: -5px;
}

img {
    width: 15em;
}

h1 {
    text-align: center;
}

.centerImg {
    text-align: center;
}

.inputBiography {
    width: 100%;
}

.inputUrls {
    width: 100%;
}

.btnClose {
    background-color: rgb(239, 0, 0, 0.35)
}

.rightBtn {
    float: right;
}

.btnUpdate {
    background-color: rgba(0, 42, 255, 0.35);
}

.center {
    text-align: center;
}