mat-form-field {
    margin: -5px;
}

img {
    width: 15em;
}

h1 {
    text-align: center;
}

.centerImg {
    text-align: center;
}

.inputBiography {
    width: 100%;
}

.inputUrls {
    width: 20em;
}