<div class="row">

  <div class="col-12 col-md-4 centerImg">
    <img src="{{image}}" alt="Foto de perfil">
  </div>

  <div class="col-12 col-md-8">

    <div class="row">

      <div class="col-12">
        <h1 mat-dialog-title>{{userLogged.name}}</h1>
      </div>

    </div>

    <div class="row">

      <div class="col-12 center">
        <mat-form-field class="example-full-width inputUrls" appearance="outline">
          <mat-label>URL LinkedIn</mat-label>
          <input matInput placeholder="Ex. https://www.linkedin.com/in/blogweb/">
        </mat-form-field>
      </div>

      <div class="col-12 center">
        <mat-form-field class="example-full-width inputUrls" appearance="outline">
          <mat-label>URL Instagram</mat-label>
          <input matInput placeholder="Ex. https://www.instagram.com/blogweb/">
        </mat-form-field>
      </div>

      <div class="col-12 center">
        <mat-form-field class="example-full-width inputUrls" appearance="outline">
          <mat-label>URL WebSite</mat-label>
          <input matInput placeholder="Ex. https://jmarcelo98.github.io/portfolio/">
        </mat-form-field>
      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-12">

    <div mat-dialog-content>
      <p>
        <mat-form-field class="example-full-width inputBiography" appearance="fill">
          <mat-label>Biografia</mat-label>
          <textarea matInput placeholder="Ex. Apaixonado por programação e Java/Spring Boot"></textarea>
        </mat-form-field>
      </p>
    </div>

  </div>

</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <button mat-button (click)="closeModal()" class="btnClose">Fechar</button>
</div>